*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'suez';

  src: url('../font/SuezOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'rubik';

  src: url('../font/rubik-regular-webfont.woff2') format('woff');
}

::-webkit-scrollbar {
  width: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(23 28 35 / var(--tw-bg-opacity, 1));
}

:is(.dark *)::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgb(223 223 223 / var(--tw-bg-opacity, 1));
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
}

:is(.dark *)::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
}

body {
  font-family: rubik;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(235 236 237 / var(--tw-text-opacity, 1));
}

body:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(33 39 47 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  body {
    font-size: 15px;
  }
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.section-base {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 73px;
  padding-bottom: 73px;
}

@media (min-width: 640px) {
  .section-base {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 71px;
    padding-bottom: 71px;
  }
}

.hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
  display: flex;
  height: 3.5rem;
  width: 4rem;
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(22 87 80 / var(--tw-bg-opacity, 1));
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.hexagon:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(235 236 237 / var(--tw-text-opacity, 1));
}

.sosial-link-layer {
  position: absolute;
  top: -100%;
  left: -100%;
  height: 100%;
  width: 100%;
  --tw-rotate: 45deg;
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.group:hover .sosial-link-layer {
  top: 0px;
  left: 0px;
}

.sosial-link-layer:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(1 115 91 / var(--tw-bg-opacity, 1));
}

.sosial-link-icon {
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.group:hover .sosial-link-icon {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.nav-child {
  --tw-bg-opacity: 1;
  background-color: rgb(23 28 35 / var(--tw-bg-opacity, 1));
  padding-top: 54px;
  padding-bottom: 54px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-child:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(223 223 223 / var(--tw-bg-opacity, 1));
}

@media (min-width: 640px) {
  .nav-child {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 45px;
  }
}

.project-card {
  aspect-ratio: 1 / 1;
  width: 11rem;
  flex: 0 1 auto;
  overflow: hidden;
  border-radius: 0.375rem;
}

@media (min-width: 640px) {
  .project-card {
    width: 214px;
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) {
  .project-card {
    width: 230px;
    border-radius: 0.75rem;
  }
}

.project-main {
  aspect-ratio: 1 / 1;
  width: 11rem;
  flex: 0 1 auto;
  overflow: hidden;
  border-radius: 0.375rem;
}

@media (min-width: 640px) {
  .project-main {
    width: 214px;
    border-radius: 0.5rem;
  }
}

@media (min-width: 768px) {
  .project-main {
    width: 230px;
    border-radius: 0.75rem;
  }
}

.project-main {
  z-index: 50;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  --tw-shadow: 0 0 10.3px rgba(0, 0, 0, .7);
  --tw-shadow-colored: 0 0 10.3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.project-nav {
  position: absolute;
  top: 50%;
  z-index: 30;
  display: none;
  aspect-ratio: 1 / 1;
  width: 62px;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgb(47 49 53 / 0.8);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.project-nav:is(.dark *) {
  background-color: rgb(47 49 53 / 0.3);
}

@media (min-width: 768px) {
  .project-nav {
    display: flex;
  }

  .project-nav:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.project-arrow {
  aspect-ratio: 1 / 1;
  width: 33.333333%;
  border-top-width: 3.5px;
  border-left-width: 3.5px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 189 149 / var(--tw-border-opacity, 1));
}

.project-arrow:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 161 127 / var(--tw-border-opacity, 1));
}

@media (min-width: 640px) {
  .project-arrow {
    border-top-width: 4px;
    border-left-width: 4px;
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 189 149 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: arial;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
  --tw-drop-shadow: drop-shadow(0 13px 5px rgba(0, 189, 148, 0.443));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.btn:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(0 189 149 / var(--tw-text-opacity, 1));
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.btn:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 161 127 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(235 236 237 / var(--tw-text-opacity, 1));
  --tw-drop-shadow: drop-shadow(0 13px 5px rgba(0, 161, 127, 0.443));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.btn:hover:is(.dark *) {
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(0 161 127 / var(--tw-text-opacity, 1));
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px) {
  .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .btn:is(.dark *) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.link {
  cursor: pointer;
  line-height: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.link-bar {
  margin-top: 2px;
  height: 2px;
  width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(235 236 237 / var(--tw-bg-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.group:hover .link-bar {
  width: 100%;
}

.link-bar:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(33 39 47 / var(--tw-bg-opacity, 1));
}

.edu-root {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content max-content;
}

@media (min-width: 768px) {
  .edu-root {
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
  }
}

.edu-root {
  /* */
}

.edu-school {
  order: 2;
}

@media (min-width: 768px) {
  .edu-school {
    order: 1;
    width: 24rem;
    text-align: end;
  }
}

.edu-point {
  order: 1;
  grid-row: span 2 / span 2;
  margin-right: 0.75rem;
  display: flex;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 640px) {
  .edu-point {
    margin-right: 22px;
  }
}

@media (min-width: 768px) {
  .edu-point {
    order: 2;
    grid-row: span 1 / span 1;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.edu-point-1 {
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
}

.edu-point-1:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
}

@media (min-width: 768px) {
  .edu-point-1 {
    height: 35px;
  }
}

.edu-point-1-long {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
}

.edu-point-1-long:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
}

.edu-point-2 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  aspect-ratio: 1 / 1;
  width: 21px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(0 189 149 / var(--tw-border-opacity, 1));
}

.edu-point-2:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 161 127 / var(--tw-border-opacity, 1));
}

@media (min-width: 640px) {
  .edu-point-2 {
    width: 25px;
  }
}

.edu-detail {
  order: 3;
  margin-top: 0.5rem;
  padding-bottom: 79px;
}

@media (min-width: 640px) {
  .edu-detail {
    padding-bottom: 93px;
  }
}

@media (min-width: 768px) {
  .edu-detail {
    order: 3;
    margin-top: 0px;
    width: 24rem;
  }
}

.edu-detail-text {
  text-align: justify;
}

@media (min-width: 640px) {
  .edu-detail-text {
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .edu-detail-text {
    width: 20rem;
    text-align: start;
  }
}

.section-title {
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(0 189 149 / var(--tw-text-opacity, 1));
}

.section-title:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 161 127 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  .section-title {
    font-size: 33px;
  }
}

.skill {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: flex-start;
}

.skill > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(13px * var(--tw-space-x-reverse));
  margin-left: calc(13px * calc(1 - var(--tw-space-x-reverse)));
}

.skill {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(62 70 81 / var(--tw-border-opacity, 1));
  padding-left: 23px;
  padding-right: 23px;
  opacity: 0;
}

.skill:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(197 197 197 / var(--tw-border-opacity, 1));
}

@media (min-width: 768px) {
  .skill {
    height: 54.4px;
  }

  .skill > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(14.4px * var(--tw-space-x-reverse));
    margin-left: calc(14.4px * calc(1 - var(--tw-space-x-reverse)));
  }
}

.skill-img {
  height: 1.75rem;
}

@media (min-width: 768px) {
  .skill-img {
    height: 34px;
  }
}

.skill-title {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .skill-title {
    font-size: 17px;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.bone {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --tw-bg-opacity: 1;
  background-color: rgb(78 92 109 / var(--tw-bg-opacity, 1));
}

.bone:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(201 201 201 / var(--tw-bg-opacity, 1));
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-10 {
  bottom: 2.5rem;
}

.left-1\/2 {
  left: 50%;
}

.right-0 {
  right: 0px;
}

.right-1\/2 {
  right: 50%;
}

.right-10 {
  right: 2.5rem;
}

.right-\[18px\] {
  right: 18px;
}

.right-\[35px\] {
  right: 35px;
}

.top-14 {
  top: 3.5rem;
}

.top-4 {
  top: 1rem;
}

.top-6 {
  top: 1.5rem;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.z-\[1009\] {
  z-index: 1009;
}

.z-\[100\] {
  z-index: 100;
}

.z-\[200\] {
  z-index: 200;
}

.z-\[210\] {
  z-index: 210;
}

.z-\[220\] {
  z-index: 220;
}

.z-\[80\] {
  z-index: 80;
}

.col-span-full {
  grid-column: 1 / -1;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-\[98px\] {
  margin-bottom: 98px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-\[19px\] {
  margin-left: 19px;
}

.ml-\[9px\] {
  margin-left: 9px;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[204px\] {
  margin-top: 204px;
}

.mt-\[23px\] {
  margin-top: 23px;
}

.mt-\[26px\] {
  margin-top: 26px;
}

.mt-\[29px\] {
  margin-top: 29px;
}

.mt-\[34px\] {
  margin-top: 34px;
}

.mt-\[38px\] {
  margin-top: 38px;
}

.mt-\[43px\] {
  margin-top: 43px;
}

.mt-\[92px\] {
  margin-top: 92px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-design {
  aspect-ratio: 229 / 159;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-1 {
  height: 0.25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[198px\] {
  height: 198px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[589px\] {
  height: 589px;
}

.h-\[80vh\] {
  height: 80vh;
}

.h-full {
  height: 100%;
}

.h-max {
  height: -moz-max-content;
  height: max-content;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-11 {
  width: 2.75rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-28 {
  width: 7rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8\/12 {
  width: 66.666667%;
}

.w-9 {
  width: 2.25rem;
}

.w-\[114px\] {
  width: 114px;
}

.w-\[19px\] {
  width: 19px;
}

.w-\[21px\] {
  width: 21px;
}

.w-\[23px\] {
  width: 23px;
}

.w-\[294px\] {
  width: 294px;
}

.w-\[392px\] {
  width: 392px;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.-translate-x-1\/4 {
  --tw-translate-x: -25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-\[330px\] {
  --tw-translate-x: -330px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-8 {
  --tw-translate-y: -2rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-1\/4 {
  --tw-translate-x: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[330px\] {
  --tw-translate-x: 330px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1\/4 {
  --tw-translate-y: 25%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[135deg\] {
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-gpu {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.auto-rows-max {
  grid-auto-rows: max-content;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-rows-nav {
  grid-template-rows: max-content auto;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-x-\[14px\] {
  -moz-column-gap: 14px;
       column-gap: 14px;
}

.gap-y-\[32\.4px\] {
  row-gap: 32.4px;
}

.gap-y-\[52px\] {
  row-gap: 52px;
}

.space-x-14 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3.5rem * var(--tw-space-x-reverse));
  margin-left: calc(3.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-9 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.25rem * var(--tw-space-x-reverse));
  margin-left: calc(2.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[22px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(22px * var(--tw-space-x-reverse));
  margin-left: calc(22px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[39px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(39px * var(--tw-space-x-reverse));
  margin-left: calc(39px * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-\[18px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(18px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(18px * var(--tw-space-y-reverse));
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-solid {
  border-style: solid;
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(0 189 149 / var(--tw-border-opacity, 1));
}

.border-base {
  --tw-border-opacity: 1;
  border-color: rgb(235 236 237 / var(--tw-border-opacity, 1));
}

.bg-\[\#343E4B\]\/50 {
  background-color: rgb(52 62 75 / 0.5);
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(0 189 149 / var(--tw-bg-opacity, 1));
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(33 39 47 / var(--tw-bg-opacity, 1));
}

.bg-base {
  --tw-bg-opacity: 1;
  background-color: rgb(235 236 237 / var(--tw-bg-opacity, 1));
}

.bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5);
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(23 28 35 / var(--tw-bg-opacity, 1));
}

.bg-popup {
  --tw-bg-opacity: 1;
  background-color: rgb(48 57 68 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-aspirasi {
  background-image: url(../img/project/aspirasi.avif);
}

.bg-calculator {
  background-image: url(../img/project/calculator.avif);
}

.bg-clock {
  background-image: url(../img/project/clock.avif);
}

.bg-design-clock {
  background-image: url(../img/design/clock.avif);
}

.bg-design-portfolio {
  background-image: url(../img/design/portfolio.avif);
}

.bg-design-weather {
  background-image: url(../img/design/weather.avif);
}

.bg-fashion {
  background-image: url(../img/project/fashion.avif);
}

.bg-film {
  background-image: url(../img/project/film.avif);
}

.bg-gallery {
  background-image: url(../img/project/gallery.avif);
}

.bg-pizza {
  background-image: url(../img/project/pizza.avif);
}

.bg-weather {
  background-image: url(../img/project/weather.avif);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-top {
  background-position: top;
}

.p-3 {
  padding: 0.75rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-\[19px\] {
  padding-left: 19px;
  padding-right: 19px;
}

.px-\[21px\] {
  padding-left: 21px;
  padding-right: 21px;
}

.px-\[600px\] {
  padding-left: 600px;
  padding-right: 600px;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-\[62px\] {
  padding-bottom: 62px;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[31px\] {
  padding-top: 31px;
}

.pt-\[59px\] {
  padding-top: 59px;
}

.pt-\[90px\] {
  padding-top: 90px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.font-suez {
  font-family: suez, arial;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[36\.7px\] {
  font-size: 36.7px;
}

.text-\[38px\] {
  font-size: 38px;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.leading-\[25px\] {
  line-height: 25px;
}

.leading-\[27\.8px\] {
  line-height: 27.8px;
}

.leading-none {
  line-height: 1;
}

.leading-normal {
  line-height: 1.5;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-\[\#81848A\] {
  --tw-text-opacity: 1;
  color: rgb(129 132 138 / var(--tw-text-opacity, 1));
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(0 189 149 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.shadow-project {
  --tw-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  --tw-shadow-colored: 0 0 10px 4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.drop-shadow-basic {
  --tw-drop-shadow: drop-shadow(0 13px 5px rgba(0, 189, 148, 0.443));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-none {
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[10px\] {
  --tw-backdrop-blur: blur(10px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-\[7px\] {
  --tw-backdrop-blur: blur(7px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.cell-center {
  transform: translateX(calc(50% + 7px));
}

.hover\:-translate-y-4:hover {
  --tw-translate-y: -1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-\[1\.1\]:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-black\/10:hover {
  background-color: rgb(0 0 0 / 0.1);
}

.hover\:text-\[\#EBECED\]:hover {
  --tw-text-opacity: 1;
  color: rgb(235 236 237 / var(--tw-text-opacity, 1));
}

.dark\:block:is(.dark *) {
  display: block;
}

.dark\:hidden:is(.dark *) {
  display: none;
}

.dark\:border-accent-dark:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 161 127 / var(--tw-border-opacity, 1));
}

.dark\:border-background:is(.dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(33 39 47 / var(--tw-border-opacity, 1));
}

.dark\:bg-\[\#343E4B\]\/10:is(.dark *) {
  background-color: rgb(52 62 75 / 0.1);
}

.dark\:bg-accent-dark:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 161 127 / var(--tw-bg-opacity, 1));
}

.dark\:bg-background:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(33 39 47 / var(--tw-bg-opacity, 1));
}

.dark\:bg-base:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(235 236 237 / var(--tw-bg-opacity, 1));
}

.dark\:bg-light:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(223 223 223 / var(--tw-bg-opacity, 1));
}

.dark\:bg-transparent:is(.dark *) {
  background-color: transparent;
}

.dark\:text-accent-dark:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 161 127 / var(--tw-text-opacity, 1));
}

.dark\:drop-shadow-basic-dark:is(.dark *) {
  --tw-drop-shadow: drop-shadow(0 13px 5px rgba(0, 161, 127, 0.443));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.dark\:drop-shadow-none:is(.dark *) {
  --tw-drop-shadow: drop-shadow(0 0 #0000);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.dark\:hover\:text-background:hover:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(33 39 47 / var(--tw-text-opacity, 1));
}

@media (min-width: 640px) {
  .sm\:bottom-12 {
    bottom: 3rem;
  }

  .sm\:right-10 {
    right: 2.5rem;
  }

  .sm\:right-12 {
    right: 3rem;
  }

  .sm\:top-10 {
    top: 2.5rem;
  }

  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mb-\[92px\] {
    margin-bottom: 92px;
  }

  .sm\:ml-11 {
    margin-left: 2.75rem;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-12 {
    margin-top: 3rem;
  }

  .sm\:mt-52 {
    margin-top: 13rem;
  }

  .sm\:mt-\[10px\] {
    margin-top: 10px;
  }

  .sm\:mt-\[20px\] {
    margin-top: 20px;
  }

  .sm\:mt-\[25px\] {
    margin-top: 25px;
  }

  .sm\:mt-\[35px\] {
    margin-top: 35px;
  }

  .sm\:mt-\[42px\] {
    margin-top: 42px;
  }

  .sm\:mt-\[49px\] {
    margin-top: 49px;
  }

  .sm\:mt-\[50px\] {
    margin-top: 50px;
  }

  .sm\:mt-\[58px\] {
    margin-top: 58px;
  }

  .sm\:mt-\[70px\] {
    margin-top: 70px;
  }

  .sm\:mt-\[95px\] {
    margin-top: 95px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:inline-block {
    display: inline-block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:aspect-auto {
    aspect-ratio: auto;
  }

  .sm\:h-\[159px\] {
    height: 159px;
  }

  .sm\:h-\[300px\] {
    height: 300px;
  }

  .sm\:h-\[753px\] {
    height: 753px;
  }

  .sm\:h-\[90vh\] {
    height: 90vh;
  }

  .sm\:w-8 {
    width: 2rem;
  }

  .sm\:w-\[229px\] {
    width: 229px;
  }

  .sm\:w-\[25px\] {
    width: 25px;
  }

  .sm\:w-\[350px\] {
    width: 350px;
  }

  .sm\:w-\[433px\] {
    width: 433px;
  }

  .sm\:w-\[553px\] {
    width: 553px;
  }

  .sm\:max-w-\[470px\] {
    max-width: 470px;
  }

  .sm\:max-w-\[527px\] {
    max-width: 527px;
  }

  .sm\:max-w-\[574px\] {
    max-width: 574px;
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:grid-cols-\[406px\] {
    grid-template-columns: 406px;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:gap-x-12 {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }

  .sm\:gap-y-\[38\.4px\] {
    row-gap: 38.4px;
  }

  .sm\:gap-y-\[59px\] {
    row-gap: 59px;
  }

  .sm\:space-x-\[35px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(35px * var(--tw-space-x-reverse));
    margin-left: calc(35px * calc(1 - var(--tw-space-x-reverse)));
  }

  .sm\:space-y-\[24px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(24px * var(--tw-space-y-reverse));
  }

  .sm\:rounded-\[10px\] {
    border-radius: 10px;
  }

  .sm\:rounded-\[15px\] {
    border-radius: 15px;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-\[22px\] {
    padding-left: 22px;
    padding-right: 22px;
  }

  .sm\:px-\[38px\] {
    padding-left: 38px;
    padding-right: 38px;
  }

  .sm\:pb-\[100px\] {
    padding-bottom: 100px;
  }

  .sm\:pt-\[126px\] {
    padding-top: 126px;
  }

  .sm\:pt-\[26\.3px\] {
    padding-top: 26.3px;
  }

  .sm\:pt-\[51px\] {
    padding-top: 51px;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[21px\] {
    font-size: 21px;
  }

  .sm\:text-\[26px\] {
    font-size: 26px;
  }

  .sm\:text-\[27px\] {
    font-size: 27px;
  }

  .sm\:text-\[28px\] {
    font-size: 28px;
  }

  .sm\:text-\[46px\] {
    font-size: 46px;
  }

  .sm\:text-\[50px\] {
    font-size: 50px;
  }

  .sm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm\:backdrop-blur-none {
    --tw-backdrop-blur:  ;
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }

  .sm\:justify-content-center {
    justify-content: center;
  }

  .sm\:cell-center-sm {
    transform: translateX(calc(50% + 24px));
  }

  @media not all and (min-width: 768px) {
    .sm\:max-md\:px-\[123px\] {
      padding-left: 123px;
      padding-right: 123px;
    }

    .sm\:max-md\:cell-center-sm {
      transform: translateX(calc(50% + 24px));
    }
  }
}

@media (min-width: 768px) {
  .md\:right-14 {
    right: 3.5rem;
  }

  .md\:mb-\[120px\] {
    margin-bottom: 120px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-12 {
    margin-top: 3rem;
  }

  .md\:mt-14 {
    margin-top: 3.5rem;
  }

  .md\:mt-24 {
    margin-top: 6rem;
  }

  .md\:mt-5 {
    margin-top: 1.25rem;
  }

  .md\:mt-7 {
    margin-top: 1.75rem;
  }

  .md\:mt-\[21px\] {
    margin-top: 21px;
  }

  .md\:mt-\[35px\] {
    margin-top: 35px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-\[208px\] {
    height: 208px;
  }

  .md\:h-\[400px\] {
    height: 400px;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:h-screen {
    height: 100vh;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-\[289px\] {
    width: 289px;
  }

  .md\:w-\[308px\] {
    width: 308px;
  }

  .md\:w-\[537px\] {
    width: 537px;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:max-w-\[898px\] {
    max-width: 898px;
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-rows-bio {
    grid-template-rows: max-content auto;
  }

  .md\:gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }

  .md\:gap-y-\[34\.5px\] {
    row-gap: 34.5px;
  }

  .md\:rounded-\[13px\] {
    border-radius: 13px;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:px-\[35px\] {
    padding-left: 35px;
    padding-right: 35px;
  }

  .md\:py-\[18px\] {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .md\:pt-5 {
    padding-top: 1.25rem;
  }

  .md\:pt-7 {
    padding-top: 1.75rem;
  }

  .md\:pt-\[116px\] {
    padding-top: 116px;
  }

  .md\:text-\[27px\] {
    font-size: 27px;
  }

  .md\:cell-center-md {
    transform: translateX(calc(150% + 12px));
  }
}

@media (min-width: 820px) {
  .min-\[820px\]\:w-\[818px\] {
    width: 818px;
  }
}

@media (min-width: 1000px) {
  .bio\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .bio\:mb-0 {
    margin-bottom: 0px;
  }

  .bio\:ml-\[30px\] {
    margin-left: 30px;
  }

  .bio\:mt-0 {
    margin-top: 0px;
  }

  .bio\:inline-block {
    display: inline-block;
  }

  .bio\:h-\[304px\] {
    height: 304px;
  }

  .bio\:h-screen {
    height: 100vh;
  }

  .bio\:w-auto {
    width: auto;
  }

  .bio\:max-w-\[771px\] {
    max-width: 771px;
  }

  .bio\:grid-cols-bio {
    grid-template-columns: minmax(max-content, 500px) minmax(max-content, 500px);
  }

  .bio\:grid-cols-cert-bio {
    grid-template-columns: max-content max-content;
  }

  .bio\:items-start {
    align-items: flex-start;
  }

  .bio\:justify-start {
    justify-content: flex-start;
  }

  .bio\:gap-x-\[114px\] {
    -moz-column-gap: 114px;
         column-gap: 114px;
  }

  .bio\:gap-x-\[54px\] {
    -moz-column-gap: 54px;
         column-gap: 54px;
  }

  .bio\:gap-y-0 {
    row-gap: 0px;
  }

  .bio\:justify-self-start {
    justify-self: start;
  }

  .bio\:justify-self-end {
    justify-self: end;
  }

  .bio\:overflow-hidden {
    overflow: hidden;
  }

  .bio\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .bio\:pb-0 {
    padding-bottom: 0px;
  }

  .bio\:text-start {
    text-align: start;
  }

  .bio\:align-items-center {
    align-items: center;
  }

  .bio\:cell-center-bio {
    transform: translateX(calc(150% + 81px));
  }
}