@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @apply scroll-smooth;
    }

    @font-face {
        font-family: 'suez';
        src: url('/font/SuezOne-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'rubik';
        src: url('/font/rubik-regular-webfont.woff2') format('woff');
    }
    
    ::-webkit-scrollbar {
        @apply w-2 bg-dark dark:bg-light;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-accent dark:bg-accent-dark rounded-full;
    }

    body {
        @apply font-rubik text-base dark:text-background text-sm sm:text-[15px];
    }

    * {
        @apply transition-colors;
    }
}

@layer components {
    .section-base {
       @apply px-[19px] sm:px-[22px] py-[73px] sm:py-[71px] overflow-hidden transform-gpu;
    }

    .hexagon {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        @apply relative w-16 h-14 flex justify-center items-center text-3xl bg-[#165750] dark:bg-accent-dark rotate-0 cursor-pointer overflow-hidden dark:text-[#EBECED];
    }

    .sosial-link-layer {
        @apply absolute scale-150 -top-full -left-full transition-all ease-out duration-300 w-full h-full rotate-45 bg-accent dark:bg-[#01735B] group-hover:top-0 group-hover:left-0;
    }

    .sosial-link-icon {
        @apply transition-all ease-out group-hover:text-4xl z-10;
    }

    .nav-child {
        @apply bg-dark dark:bg-light text-center capitalize font-semibold text-[28px] sm:text-[45px] py-[54px] sm:py-20;
    }

    .project-card {
        @apply aspect-square w-44 rounded-md sm:w-[214px] md:w-[230px] sm:rounded-lg md:rounded-xl overflow-hidden flex-initial;
    }

    .project-main {
        @apply project-card bg-cover bg-center shadow-pr z-50 cursor-pointer;
    }

    .project-nav {
        @apply hidden md:flex bg-[#2F3135]/80 dark:bg-[#2F3135]/30 aspect-square w-[62px] rounded-full overflow-hidden justify-center items-center md:hover:scale-110 transition ease-out cursor-pointer absolute z-30 top-1/2 -translate-y-1/2;
    }

    .project-arrow {
        @apply aspect-square w-1/3 border-solid border-t-[3.5px] sm:border-t-4 border-l-[3.5px] sm:border-l-4 border-accent dark:border-accent-dark;
    }

    .btn {
        @apply mx-auto bg-accent dark:bg-accent-dark dark:text-base drop-shadow-basic dark:drop-shadow-basic-dark capitalize py-[6px] px-[22px] sm:py-[7px] sm:px-[27px] font-bold text-lg sm:text-xl dark:text-lg dark:sm:text-xl font-arial flex justify-center items-center rounded-xl border-solid border-accent dark:border-accent-dark border-2 hover:text-accent dark:hover:text-accent-dark hover:scale-110 cursor-pointer transition ease-out hover:bg-transparent dark:hover:bg-transparent hover:drop-shadow-none dark:hover:drop-shadow-none;
    }

    .link {
        @apply cursor-pointer transition-all leading-none;
    }

    .link-bar {
        @apply w-0 bg-base dark:bg-background h-[2px] mt-[2px] transition-all ease-out group-hover:w-full;
    }

    .teknologi {
        @apply w-14 sm:w-20 md:w-24 hover:scale-125 transition ease-out;
    }

    .edu-root {
        @apply grid grid-cols-edu md:grid-cols-edu-md grid-rows-edu md:justify-content-center; /* */
    }

    .edu-school {
        @apply order-2 md:order-1 md:text-end md:w-96;
    }

    .edu-point {
        @apply order-1 h-full flex flex-col items-start md:order-2 row-span-2 md:row-span-1 w-max mr-3 sm:mr-[22px] md:mx-[18px];
    }

    .edu-point-1 {
        @apply w-[2px] h-[32px] bg-accent dark:bg-accent-dark mx-auto md:h-[35px];
    }

    .edu-point-1-long {
        @apply w-[2px] h-full bg-accent dark:bg-accent-dark mx-auto;
    }

    .edu-point-2 {
        @apply aspect-square w-[21px] sm:w-[25px] border-solid border-2 border-accent dark:border-accent-dark mx-auto rounded-full flex justify-center items-center;
    }

    .edu-detail {
       @apply order-3 md:order-3 mt-2 pb-[79px] sm:pb-[93px] md:w-96 md:mt-0;
    }

    .edu-detail-text {
       @apply text-justify sm:text-justify md:text-start md:w-80;
    }

    .section-title {
        @apply text-center capitalize font-semibold text-3xl sm:text-[33px] text-accent dark:text-accent-dark;
    }

    .skill {
        @apply flex justify-start items-center space-x-[13px] h-[45px] px-[23px] border-[1px] border-solid border-[#3E4651] dark:border-[#C5C5C5] rounded-[8px] md:space-x-[14.4px] md:h-[54.4px] opacity-0;
    }

    .skill-img {
        @apply h-7 md:h-[34px];
    }

    .skill-title {
        @apply capitalize md:text-[17px]; 
    }

    .bone {
        @apply bg-[#4E5C6D] dark:bg-[#C9C9C9] animate-pulse;
    }
}

@layer utilities {
    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    .t-border {
        border: 2px solid red;
    }
    
    .b-border {
        border: 1px solid blue;
    }

    .cell-center {
        transform: translateX(calc(50% + 7px));
    }

    .cell-center-sm {
        transform: translateX(calc(50% + 24px));
    }
    
    .cell-center-md {
        transform: translateX(calc(150% + 12px));
    }
    
    .cell-center-bio {
        transform: translateX(calc(150% + 81px));
    }

    .translate-half-md {
        transform: translateX(calc(50% + 4px));
    }

    .translate-half-bio {
        transform: translateX(calc(50% + 27px));
    }
}