@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #EBECED;
        @apply scroll-smooth;
    }

    @font-face {
        font-family: 'suez';
        src: url('../font/SuezOne-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'sansation';
        src: url('../font/Sansation-Regular-webfont.woff') format('woff');
    }
    
    ::-webkit-scrollbar {
        @apply w-2 bg-dark;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-accent rounded-full;
    }

    body {
        @apply font-sansation text-base;
    }
}

@layer components {
    .section-base {
       @apply px-2.5 md:px-5 overflow-hidden transform-gpu;
    }

    .hexagon {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        @apply relative w-16 h-14 flex justify-center items-center text-3xl bg-[#165750] rotate-90 cursor-pointer overflow-hidden opacity-0;
    }

    .sosial-link-layer {
        @apply absolute scale-150 -top-full -left-full transition-all ease-out duration-300 w-full h-full rotate-45 bg-accent group-hover:top-0 group-hover:left-0;
    }

    .sosial-link-icon {
        @apply transition-all ease-out group-hover:text-4xl z-10;
    }

    .nav-child {
        @apply bg-dark text-center capitalize font-semibold text-4xl sm:text-5xl py-10 sm:py-12;
    }

    .project-card {
        @apply aspect-square w-44 rounded-md md:w-56 sm:rounded-lg md:rounded-xl overflow-hidden flex-initial;
    }

    .project-main {
        @apply project-card relative bg-cover bg-center;
    }

    .project-layer {
        @apply absolute w-full h-full left-0 -top-full bg-black/60 transition-all ease-out group-hover/root:top-0;
    }

    .project-desk {
        @apply absolute inset-0 flex flex-col justify-center items-center p-2.5 space-y-4;
    }

    .project-teks {
        @apply text-center text-xs font-semibold transition-all ease-out translate-y-5 opacity-0 group-hover/root:opacity-100 group-hover/root:translate-y-0 delay-300;
    }

    .project-link {
        @apply transition-all ease-out translate-y-5 opacity-0 invisible group-hover/root:opacity-100 group-hover/root:translate-y-0 delay-500 group-hover/root:visible;
    }

    .project-link-child {
        @apply w-max text-[11px] px-4 py-[2px] border-solid border-2 border-base rounded-full font-semibold capitalize hover:border-base hover:bg-base hover:text-dark transition-all;
    }

    .project-nav {
        @apply bg-[#2F3135]/60 aspect-square w-14 rounded-full overflow-hidden flex justify-center items-center hover:scale-110 transition ease-out cursor-pointer;
    }

    .project-arrow {
        @apply aspect-square w-1/3 border-solid border-t-[3.5px] sm:border-t-4 border-l-[3.5px] sm:border-l-4 border-accent;
    }

    .btn {
        @apply mx-auto mb-16 sm:mb-20 bg-accent drop-shadow-basic capitalize w-36 h-11 font-bold text-xl font-arial flex justify-center items-center rounded-xl border-solid border-accent border-2 hover:text-accent hover:scale-110 cursor-pointer transition ease-out hover:bg-transparent hover:drop-shadow-none;
    }

    .link {
        @apply cursor-pointer hover:text-base transition;
    }

    .link-bar {
        @apply w-0 bg-base h-[2px] mt-[2px] transition-all ease-out group-hover:w-full;
    }

    .teknologi {
        @apply w-14 sm:w-20 md:w-24 hover:scale-125 transition ease-out;
    }
}

@layer utilities {
    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    .t-border {
        border: 2px solid red;
    }
    
    .b-border {
        border: 1px solid blue;
    }
}