@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #EBECED;
        @apply scroll-smooth;
    }

    @font-face {
        font-family: 'suez';
        src: url('../font/SuezOne-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'sansation';
        src: url('../font/Sansation-Regular-webfont.woff') format('woff');
    }

    body {
        @apply font-sansation text-base;
    }
}

@layer components {
    .section-base {
       @apply px-2.5 md:px-5 overflow-hidden;
    }

    .hexagon {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        @apply w-16 h-14 flex justify-center items-center text-4xl bg-[#165750] rotate-90;
    }

    .nav-child {
        @apply bg-dark text-center capitalize font-semibold text-4xl sm:text-5xl py-10 sm:py-12;
    }

    .project-card {
        @apply aspect-square w-28 sm:w-44 md:w-56 bg-[#81848A] rounded-xl;
    }

    .project-nav {
        @apply bg-[#2F3135]/60 aspect-square w-12 sm:w-14 rounded-full overflow-hidden flex justify-center items-center;
    }

    .project-arrow {
        @apply aspect-square w-1/3 border-solid border-t-[3.5px] sm:border-t-4 border-l-[3.5px] sm:border-l-4 border-accent;
    }

    .btn {
        @apply mx-auto mb-16 sm:mb-20 bg-accent drop-shadow-basic capitalize w-36 h-11 font-bold text-xl font-arial flex justify-center items-center rounded-xl;
    }
}

@layer utilities {
    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }
}